{% extends "base" %}

{% block title %}Logged in{% endblock title %}

{% block content %}
<form method="POST" action="/logout" class="mb-3">
  You are logged in as <a href="https://lichess.org/@/{{ lichess }}">{{ lichess }}</a>.
  {% if admin %}<a href="/admin">View admin page.</a>{% endif %}
  <button class="btn btn-outline-secondary" type="submit">Log out</button>
</form>

{% block content2 %}{% endblock content2 %}
{% endblock content %}