{% extends "base" %}

{% block title %}Logged in{% endblock title %}

{% block content %}
<p>You are logged in as <a href="https://lichess.org/@/{{ lichess }}">{{ lichess }}</a>. <a href="/logout">Log out.</a></p>

{% block content2 %}{% endblock content2 %}
{% endblock content %}